@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: 'Anonymous Pro';
  --white-100: #FFFFFF;
  --dark-900: #09090A;
  --dark-600: #808090;
  --green-400: #00FF47;
  --green-white-100: #C3EFC0;
}


.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
  background-color:  #090520;
  /* background-image: url('./assets/Bg.png'); */
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: inherit;
   */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  /* background-repeat: round; */
  
}

/*  background-color: #090135;#0b023f  background-color: #090520; */